<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <table>
    <tr>
      <th>Name</th>
      <th>Major</th>
      <th>GPA</th>
      <th>Show</th>
    </tr>

    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %>  </td>
        <td><%= student.major %> </td>
        <td><%= student.gpa %>   </td>

        <!-- student is used for  Link to /students/{id}, Refer to students/show.html.erb--->
        <td><%= link_to "Show this student", student %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- new_student_path is used for Link to /students/new. Refer to students/new.html.erb -->
<%= link_to "New student", new_student_path %>
