<p style="color: green"><%= notice %></p>

<!--Render student info with students/_students.html.erb--->
<%= render @student %>

<div>

  <!-- edit_student_path (@student) is Linked to /students/{id}/edit, Refer to students/edit.html.erb--->
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %> | 

  <!-- edit_student_path (@student) is Linked to /students/{id}/edit, Refer to students/edit.html.erb--->
  <%= button_to "Delete Student", @student, method: :delete %>
</div>



<%= render "students/courses", student: @student %>

 <%= link_to "Add Course", new_student_course_path(@student) %>




