<div id="courses">
    <% @student.courses.each do |course| %>
        <tr>
            <td><%= course.name %>  </td>
            <td><%= course.number %>  </td>
            <td><%= course.course_id %>  </td>
            <td><%= course.semester %>  </td>
            <td><%= course.year %>  </td>
            <td><%= link_to "Course", "courses/show" %></td>
        </tr>
    <% end %>

</div>