<div id="courses">
    <% @student.courses.each do |student_course| %>
        <tr>
            <td><%= student_course.name %>  </td>
            <td><%= student_course.number %>  </td>
            <td><%= student_course.course_id %>  </td>
            <td><%= student_course.semester %>  </td>
            <td><%= student_course.year %>  </td>
            <td><%= link_to "course", student_course %></td>
        </tr>
    <% end %>

</div>