<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= course.number %>
  </p>

  <p>
    <strong>Name abbrev:</strong>
    <%= course.name_abbrev %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course.course_id %>
  </p>

  <p>
    <strong>Prereqs:</strong>
    <%= course.prereqs %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= course.grade %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= course.professor %>
  </p>

  <p>
    <strong>Letter grade:</strong>
    <%= course.letter_grade %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course.semester %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= course.year %>
  </p>

</div>
