        <tr>
            <td><%= student_course.name %></td>
            <td><%= student_course.number %></td>
            <td><%= student_course.id %></td>
            <td><%= student_course.prereqs %></td>
            <td><%= student_course.description %></td>
            <td><%= student_course.grade %></td>
            <td><%= student_course.professor %></td>
            <td><%= student_course.grade %></td>
            <td><%= student_course.semester %></td>
        </tr>
